.body-quiz-container {
    background: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-container {
    background: skyblue;
    padding: 40px;
    width: 50%;
    text-align: center;
    border-radius: 10px;
}

#question {
    font-size: 26px;
    margin-bottom: 20px;
}

.btn {
    background: black;
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.correct {
    background: green;
}

.wrong {
    background: red;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.timer {
    color: red;
    font-size: 26px;
    font-weight: bold;
}

.next-btn {
    background: aqua;
}

.progess-bar {
    width: 100%;
    height: 10px;
    background: white;
    margin: 20px 0;
}

.progress {
    height: 100%;
    width: 0%;
    background: green;
}
