
    .navbar {
        position: fixed;    
        overflow: hidden;
    }
    .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }   
    .navbar a:hover {
        background-color: #ddd;
        color: black;
    }   
    .active {
        background-color: #04AA6D;
        color: white;
    }   
    .content {
        padding: 16px;
        margin-top: 30px;
        height: 1500px; /* Used in this example to enable scrolling */
    }
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    .topnav {
        overflow: hidden;
        background-color: #333;
    }
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
